<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.eclipsesource.tabris.maps.example"
        version="2.0.1"
        android-packageName="com.eclipsesource.tabris.maps.example"
        android-versionCode="2">
  <name>Tabris.js Maps Plugin Example</name>
  <description>Examples for the Tabris.js maps custom widget.</description>
  <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="true" />

  <plugin name="tabris-plugin-maps" spec="2.0.1">
    <variable name="ANDROID_API_KEY" value="ANDROID_API_KEY" />
  </plugin>

  <hook src="scripts/android_api_key.js" type="before_platform_add" />
</widget>
