<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.eclipsesource.tabris.maps.example"
        version="5.0.0"
        android-packageName="com.eclipsesource.tabris.maps.example"
        android-versionCode="2">
  <name>Tabris.js Maps Plugin Example</name>
  <description>Examples for the Tabris.js maps widget.</description>
  <author email="care@tabris.com" href="https://tabris.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="true" />
  <preference name="UseStrictSSL" value="false" />

  <plugin name="tabris-plugin-maps" spec="https://github.com/eclipsesource/tabris-plugin-maps.git">
    <variable name="ANDROID_API_KEY" value="$ANDROID_API_KEY" />
  </plugin>

</widget>
