<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.eclipsesource.tabris.maps"
        version="1.0.0">

    <name>Tabris Maps Widget</name>

    <description>A custom map widget for Tabris based on Google Maps.</description>

    <author>EclipseSource</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=4.0.0-dev" />
    </engines>

    <platform name="android">

        <info>
             In order to run this plugin, you need to obtain Google Maps API key for Android.
             TODO
        </info>

        <preference name="API_KEY_FOR_ANDROID" />

        <config-file target="config.xml" parent="/*">

            <feature name="Map">
                <param name="android-package" value="com.eclipsesource.tabris.maps.Map" />
                <param name="onload" value="true" />
            </feature>

        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
              android:name="com.google.android.maps.v2.API_KEY"
              android:value="$API_KEY_FOR_ANDROID" />
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        </config-file>

        <framework src="com.google.android.gms:play-services-maps:6.5.87" />

        <source-file src="src/android/com/eclipsesource/tabris/maps/Map.java" target-dir="src/com/eclipsesource/tabris/maps" />
        <source-file src="src/android/com/eclipsesource/tabris/maps/MapHolderView.java" target-dir="src/com/eclipsesource/tabris/maps" />
        <source-file src="src/android/com/eclipsesource/tabris/maps/MapOperator.java" target-dir="src/com/eclipsesource/tabris/maps" />
        <source-file src="src/android/com/eclipsesource/tabris/maps/MapPropertyHandler.java" target-dir="src/com/eclipsesource/tabris/maps" />

    </platform>

</plugin>
